
<footer class="bg-light mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h5>Location Information: </h5>
                <p><strong>Street:</strong> 3778 Bates Brothers Road</p>
                <p><strong>City:</strong> Coleraine</p>
                <p><strong>State: </strong> Minnesota MN</p>
                
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 justify-content-center d-flex align-items-center">
                <h6>Copyright &copy; Jovan Nakov 161195</h6>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <h5>Contact Information: </h5 >
                    <p><strong>Phone number: 218-360-3629</strong></p>
                    <p><strong>Mobile number: 612-229-7095</strong></p>
                    <p><strong>E-mail address:</strong>  <a href="#">jovan.nakov@students.finki.ukim.mk</a></p>
            </div>
        </div>
    </div>
</footer>